body {
    background-color: #3b3b3b !important;
}

.content-text {
	background-color: #6d6d6d !important;
	color: white !important;
}

.question_statement {
    background-color: #6d6d6d !important;

}